<div class="row">
  <div class="col-sm-3 col-md-3"></div>
  <div class="col-sm-2 col-md-2">
    <div class="list-group well">
      <a href="#" class="list-group-item active">Wait</a>
      <a href="#" class="list-group-item">test-test <span class="badge">2</span></a>
      <a href="#" class="list-group-item">Echo</a>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="media well">
      <div class="media-body">
        <form>
          <div class="panel panel-default" style="
          margin-bottom: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;">
            <div class="panel-heading">{{today | date}}</div>
            <div class="panel-body" style="
            height: 100px;">
              <p>[{{today | date:'shortTime'}}] test text</p>
            </div>
            <div class="panel-footer">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Type text there.">
                <span class="input-group-btn">
              <button class="btn btn-default" type="button">Send!</button>
            </span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="media-right media-middle well" style="
      position: relative;
      left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;">
        <img class="media-object" src='../../../assets/images/avatars/female-avatar-1.png' alt="...">
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-3"></div>
</div>
