<div class="row">
  <div class="col-sm-4 col-md-4"></div>
  <div class="col-sm-4 col-md-4">
    <form>
      <div class="panel panel-default">
        <div class="panel-heading">{{today | date}}</div>
        <div class="panel-body">
          <p>[{{today | date:'shortTime'}}] test text</p>
        </div>
        <div class="panel-footer">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Type text there.">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Send!</button>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-4 col-md-4"></div>
</div>
