<span class="label label-default">
  #{{article.id}}
</span>
<span class="badge">
  {{article.votes}}
</span>
<h4 class="list-group-item-heading">
  {{article.title}}
</h4>
<div [class.displayed]="selected" class="additional-group">
  <p>
    <a class="list-group-item-text" href="{{article.link}}">
      {{article.link}}
    </a>
  </p>
  <p>({{article.domain()}})</p>

  <div class="btn-group" role="group" aria-label="...">
    <button type="button"
            class="btn btn-default"
            (click)="voteUp($event)">
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      Up
    </button>
    <button type="button"
            class="btn btn-default"
            (click)="voteDown($event)">
      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
      Down
    </button>
  </div>
  <button type="button"
          class="btn btn-default"
          id="buttonDelete"
          (click)="deleteArticle($event)">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    Delete
  </button>
</div>
