<h1 class="page-header">Dashboard</h1>

<div class="row">
  <div class="col-sm-4 col-md-2 sidebar">
    <form-create-article
      (onArticleValid)="addArticle($event)">
    </form-create-article>
  </div>
  <div class="col-sm-4 col-md-5 main">
    <app-articles-list
      [articles]="articles"
      (onArticleSelected)="articleWasSelected($event)">
    </app-articles-list>
  </div>
  <div class="col-sm-4 col-md-5">
    <app-simple-http></app-simple-http>
    <app-http-requests></app-http-requests>
  </div>
</div>
<div class="row">
  <div>
    <app-youtube-search></app-youtube-search>
  </div>
</div>
