<form [formGroup]="myForm"
      (ngSubmit)="onSubmit(myForm.value)">

  <h3 class="ui header">new article</h3>

  <div class="inputField"
       [class.alert-danger]="!myForm.get('title').valid && (myForm.get('title').touched || wasTryingToSend)"
       [class.alert-success]="myForm.get('title').valid && (myForm.get('title').touched || wasTryingToSend)">
    <label for="inputTitle" class="sr-only">Title</label>
    <input type="text"
           class="form-control"
           id="inputTitle"
           placeholder="Title"
           [formControl]="myForm.get('title')"
           [(ngModel)]="title"
           name="title">
    <div *ngIf="myForm.get('title').hasError('required') && (myForm.get('title').touched || wasTryingToSend)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Title is required
    </div>
    <div *ngIf="myForm.get('title').valid && (myForm.get('title').touched || wasTryingToSend)">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      Title is ok
    </div>
  </div>

  <div class="inputField"
       [class.alert-danger]="!link.valid && (link.touched || wasTryingToSend)"
       [class.alert-success]="link.valid && (link.touched || wasTryingToSend)">
    <label for="inputLink" class="sr-only">Link</label>
    <input type="text"
           class="form-control"
           id="inputLink"
           placeholder="Link"
           [formControl]="myForm.controls['link']"
           name="link">
    <div *ngIf="link.hasError('required') && (link.touched || wasTryingToSend)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Link is required
    </div>
    <div *ngIf="link.hasError('invalidLink') && (link.dirty || wasTryingToSend)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Link must begin with 'http'
    </div>
    <div *ngIf="link.valid && (link.touched || wasTryingToSend)">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      Link is ok
    </div>
  </div>

  <button type="submit"
          id="submitButton"
          class="btn btn-default btn-block">
    Submit
  </button>

</form>
